---
layout: default
title: Developer | Shopify | Craft CMS | Craft Commerce | Midwest | Springfield, MO
---

<nav class="projects">
  {% for entry in site.data.work %}
    {% if loop.index != 1 %}
      <span>{{ entry.title }}</span>
    {% endif %}
  {% endfor %}
</nav>
<main>
  <section style="background-image: url(/static/img/chadspencer.jpg);">
    <article>
      <div class="content">
        <h1>Chad Spencer</h1>
        <p>I'm a developer, problem solver and overall swell guy living in the heart of the midwest. My passion is bringing static designs to life with an eye for aesthetic and an obsession for detail. I specialize in front-end development and building full-scale Craft CMS, Craft Commerce and Shopify sites.</p>
      </div>
    </article>
  </section>
  {% for entry in site.data.work %}
    <section style="background-image: url(/static/img/{{ entry.image }});">
      <article>
        {% if entry.url %}
          <h2><a href="{{ entry.url }}" target="_blank">{{ entry.title }}&nbsp;<i class="fal fa-arrow-right"></i></a></h2>
        {% else %}
          <h2>{{ entry.title }}</h2>
        {% endif %}
        {% if entry.tags %}
          <div class="tags">
            {% for tag in entry.tags %}
              <span>{{ tag }}</span>
            {% endfor %}
          </div>
        {% endif %}
      </article>
    </section>
  {% endfor %}
</main>
<footer>
  <div class="container">
    <nav>
      <a href="mailto:chad@chadspencer.com"><i class="far fa-envelope"></i></a>
      <a href="https://www.linkedin.com/in/chadspencer" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      <a href="https://twitter.com/chadspen" target="_blank"><i class="fab fa-twitter"></i></a>
    </nav>
    <p class="center">For any inquiriez, comments or just to say hello, please feel free to <a href="mailto:chad@chadspencer.com">contact&nbsp;me</a>.</p>
  </div>
</footer>