@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}

* {
  &:focus {
    outline: 0;
  }
}
html {
  height: auto;
}
body {
  background: $black;
  color: $black;
  font-family: $ubuntu;
  font-style: normal;
  font-weight: 300;
  height: auto;
  padding: 50vh 0 0 0;
  scroll-padding: 50vh 0 0 0;
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  &.scrolling {
    scroll-padding: 0;
    scroll-snap-points-y: none;
    scroll-snap-type: none;
    scroll-snap-type: none;
  }
}
nav.projects {
  background: $white;
  span {
    @include transition (all .2s cubic-bezier(0.645, 0.045, 0.355, 1.000));
    border-bottom: 1px solid $light-grey;
    box-sizing: border-box;
    color: $black;
    //cursor: pointer;
    display: block;
    font-family: $mont;
    font-size: 24px;
    font-weight: 600;
    line-height: 39px;
    padding: 30px 2%;
    scroll-snap-align: start;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    @include mq(small) {
      font-size: 18px;
      padding-left: 5%;
      padding-right: 5%;
    }
    &:hover {
      //background: #efefef;
    }
  }
}
main {
  height: 50vh;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  &:before {
    @include background-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    content: '';
    height: 50vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  section {
    background-color: $black;
    background-position: right center;
    background-size: cover;
    height: 50vh;
    position: relative;
    .content {
      bottom: 15%;
      display: block;
      left: 2%;
      position: absolute;
      width: 65%;
      z-index: 100;
      @include mq(large) {
        width: 90%;
      }
      @include mq(small) {
        bottom: 10%;
        left: 5%;
      }
      h1,
      h2 {
        color: $white;
        font-family: $mont;
        font-size: 40px;
        font-weight: 600;
        line-height: 50px;
        text-transform: uppercase;
        @include mq(small) {
          font-size: 25px;
          line-height: 30px;
        }
        a {
          @include transition (all .2s cubic-bezier(0.645, 0.045, 0.355, 1.000));
          color: $white;
          text-decoration: none;
          &:hover {
            i {
              margin: 0 0 0 10px;
            }
          }
          i {
            @include transition (all .2s cubic-bezier(0.645, 0.045, 0.355, 1.000));
            font-size: 20px;
            line-height: 20px;
            position: relative;
            top: -3px;
            vertical-align: middle;
          }
        }
      }
      h3 {
        color: $white;
        font-size: 24px;
        line-height: 32px;
        margin: 10px 0 0 0;
        @include mq(small) {
          font-size: 18px;
          line-height: 24px;
        }
      }
      p {
        color: $white;
        font-size: 20px;
        line-height: 30px;
        margin: 10px 0 0 0;
        @include mq(small) {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .tags {
        display: block;
        font-size: 0;
        margin: 10px 0 0 0;
        span {
          background: $black;
          border-radius: 13px;
          color: $white;
          display: inline-block;
          font-size: 12px;
          line-height: 16px;
          margin: 5px 5px 0 0;
          padding: 3px 10px;
        }
      }
    }
  }
}
footer {
  height: 50vh;
  padding: 0 2%;
  position: relative;
  @include mq(small) {
    padding: 0 5%;
  }
  .container {
    @include vertical-align();
    position: absolute;
    p {
      color: $white;
      font-family: $mont;
      font-size: 16px;
      line-height: 24px;
      @include mq(small) {
        font-size: 14px;
        line-height: 20px;
      }
      a {
        color: $light-grey;
        text-underline-position: under;
      }
    }
    nav {
      font-size: 0;
      margin: 0 0 30px 0;
      a {
        background: $white;
        border-radius: 50%;
        color: $black;
        display: inline-block;
        font-size: 20px;
        height: 50px;
        line-height: 50px;
        margin: 0 15px 0 0;
        text-align: center;
        width: 50px;
        @include mq(small) {
          font-size: 18px;
          height: 40px;
          line-height: 40px;
          width: 40px;
        }
      }
    }
  }
}