/* Colors */
$grey: #4D5A5A;
$light-grey: #BDBDBD;
$white: #ffffff;
$black: #000000;

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,700,700italic,500italic,500);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
$ubuntu: 'Ubuntu', Helvetica, Arial, Verdana, sans-serif;
$mont: 'Montserrat', Helvetica, Arial, Verdana, sans-serif;

/* ---------------------------------------------------- Mixins, Functions, and Extends */
@import "_breakpoints.scss";
@import "_functions.scss";
@import "_mixins.scss";

/* ---------------------------------------------------- Reset and Global Styles */
@import "_reset.scss";

/* ---------------------------------------------------- Site Plugins */
@import "_fontawesome.scss";

/* ---------------------------------------------------- Site Base Elements */
@import "_page.scss";
